* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #192e50;
    color: #fff;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
    color: #018E42;
}

header,
.input-container {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container input,
.input-container button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: #fff;
}

.input-container input:focus,
.input-container button:focus {
    outline: 0;
}

.input-container input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input-container button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    color: #018E42;
    transition: all 0.5s ease;
}

.input-container button:hover {
    background: #018E42;
    color: #fff;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: #fff;
    color: #192e50;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.check-btn,
.trash-btn {
    background: #fff;
    color: #d9534f;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px;
}

.check-btn:focus,
.trash-btn:focus {
    outline: 0;
}

.check-btn {
    color: #5cb85c;
    padding: 10px;
}

.trash-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.todo-item {
    padding: 0 15px;
}

.fa-trash-alt,
.fa-check-circle {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

select {
    color: #192e50;
    width: 12rem;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #018E42;
    top: 0;
    right: 0;
    padding: 0.5rem;
    pointer-events: none;
    font-size: 1.2rem;
    transition: all 0.5s ease;
}

.select:hover::after {
    background: #fff;
    color: #018E42;
}